.popup-audio {
  width: 140px;
  height: 24px;
  margin-top: 10px;
}

.table-audio {
  height: 24px;
  min-width: 140px;
  max-width: 260px;
  width: 100%;
}

.table td, .table th {
  vertical-align: middle;
  padding: .35rem;
}
