{% extends "base.html" %}
{% block content %}
    <h1>Parameters</h1>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>Parameter</th>
                <th>Representation</th>
                <th>Audio</th>
            </tr>
            </thead>
            <tbody>
            {% for pid, parameter in parameters %}
                <tr>
                    <td><a href="parameter-{{ pid }}/index.html">{{ parameter['name'] }}</a></td>
                    <td>{{ parameter['representation'] | len }}</td>
                    <td>{% if parameter['has_audio'] %}✔{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}